.app-header{
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c2cfd6;
    
    .navbar-brand {
        display: inline-block;
        width: 200px;
        height: 55px;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        margin-left: 2rem;
        background-color: #fff;
        background-image: url(./../../assets/img/pro-budget-logo.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 164px auto;
        border-bottom: 1px solid #a4b7c1;
    }
    
    .sidebar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.09375rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        cursor:pointer;
    }
    
    .nav-icon-link{
        margin-top: 1.3rem;
        color: #29363d;
    }
    .nav-icon-link:hover{
        //border-bottom: 2px solid #20a8d8;
        color: #20a8d8;
    }
} 

#sidebarCollapse{
    
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    overflow-x:hidden;
    height: calc(100vh - 55px);
    
    .sidebar{
        display:none;
        position:fixed;
        z-index: 1019;
        width: 200px;
        
        .sidebar-nav {
            position: relative;
            -ms-flex: 1;
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            width: 200px;
        }
        
    }
    
    .sidebar-show{
        display:block;
    }
}

.dropdown-toggle::after {
    margin-top: 0.3rem;
    float: right;
}

.nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out;
}

.nav-title {
    padding: 0.75rem 1rem;
    font-size: 11px;
    font-weight: 600;
    color: #c2cfd6;
    text-transform: uppercase;
    width:100%;
}

.nav-item{
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out;
    display: list-item;
    text-align: -webkit-match-parent;
    width:100%;
    
    .nav-link{
        display: block;
        padding: 0.75rem 1rem;
        color: #fff;
        text-decoration: none;
        background: transparent;

        .badge {
            float: right;
            margin-top: 2px;
        }
    }
    
    .nav-link span{
        float: right;
    }
    
    .nav-link-success{
        background: #4dbd74;
    }
    
    .nav-link-danger{
        background: #f86c6b;
    }
    
    .nav-link i{
        display: inline-block;
        width: 20px;
        margin: 0 0.5rem 0 0;
        font-size: 14px;
        color: #536c79;
        text-align: center;
    }
    
    .nav-link:hover{
        color: #fff;
        background: #20a8d8;
    }
    
    .nav-link.active{
        color: #fff;
        background: #33444c;
    }
    
    .dropdown-menu{
        position: relative !important;
        transform: none !important;
        width: 100%;
        background: transparent;
        border: 0px;
        top: 0px;
        left: 0px;
        border-radius: 0px;
    }
}

.navbar-nav{
    
    a{  
        font-size: 1em;
        border-radius: 50%;
        border: 1px solid #2f2f2f;
        color: white;
        line-height: 0em;
        width: 3em;
        height: 3em;
        margin: 0.5rem;
        text-align: center;
        display: inline-block;
        -webkit-transition: 0.5s;
        transition: 2.5s;
    }
    
    a:hover {
        font-size:0.5em
    }
}